<div class="container" ng-controller="UsersPageCtrl">
  <div class="row">
    <div class="col-5">
      <h4>Users List</h4>

      <p class="alert alert-info" ng-if="usersPage.message">{{message}}</p>

      <div class="list-group">
        <div class="list-group-item" ng-repeat="user in usersPage.users track by user.id"
          ng-click="usersPage.select(user.id)" ng-class="{'active':user.id == usersPage.selected.id}">
          {{$index+1}}. {{user.name}}
        <small>{{user.email}}</small>
        </div>
      </div>
      <button ng-click="usersPage.refresh()">Refresh</button>

    </div>
    <div class="col-5" ng-if="usersPage.selected && usersPage.mode == 'details'">
      <h4>User details</h4>
      <dl>
        <dt>Name</dt>
        <dd>{{usersPage.selected.name}}</dd>
        <dt>E-mail</dt>
        <dd>{{usersPage.selected.email}}</dd>
      </dl>
      <button ng-click="usersPage.edit()">Edit</button>
      <!-- <ng-include src="'user-details.tpl.html'"></ng-include> -->
    </div>
    <div class="col-5" ng-if="usersPage.selected && usersPage.mode == 'edit'">
      <h4>Edit user </h4>
      <div class="form group mb-4">
        <label for="">Name</label>
        <input type="text" class="form-control" ng-model="usersPage.draft.name">
      </div>
      <div class="form group mb-4">
        <label for="">Email</label>
        <input type="text" class="form-control" ng-model="usersPage.draft.email">
      </div>
      <button class="btn btn-success" ng-click="usersPage.save(usersPage.draft)">Save</button>
    </div>
  </div>
</div>

<!-- 
<script type="text/ng-template" id="user-details.tpl.html">
  <h4>User details</h4>
  <dl>
    <dt>Nazwa</dt>
    <dd>{{usersPage.selected.username}}</dd>
  </dl>
  <button ng-click="usersPage.edit()">Edit</button>
</script> -->