<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <link rel="stylesheet" href="styles.css">
  <script src="node_modules/angular/angular.js" defer></script>

  <script src="src/index.js" defer></script>
</head>
<body ng-controller = "AppCtrl" ng-cloak>
<h1>Hello</h1>

  <section class="container border"  style=" width: 600px; display:flex; flex-wrap:wrap; justify-content: center;">
  <div class=" field" ng-click="game.makeMove(0,0)"> {{game.board[0][0]}}</div>
  <div class="field" ng-click="game.makeMove(0,1)" >{{game.board[0][1]}}</div>
  <div class="field" ng-click="game.makeMove(0,2)">{{game.board[0][2]}}</div>

  <div class=" field" ng-click="game.makeMove(1,0)" >{{game.board[1][0]}}</div>
  <div class="field" ng-click="game.makeMove(1,1)">{{game.board[1][1]}}</div>
  <div class="field" ng-click="game.makeMove(1,2)">{{game.board[1][2]}}</div>
  
  <div class=" field" ng-click="game.makeMove(2,0)" >{{game.board[2][0]}}</div>
  <div class="field" ng-click="game.makeMove(2,1)">{{game.board[2][1]}}</div>
  <div class="field" ng-click="game.makeMove(2,2)">{{game.board[2][2]}}</div>
 
  <h3>
    {{game.status}}
  </h3>

  <h3>
    {{game.endOfGame}}
  </h3>

</section>
  <button class="btn btn-success" ng-click="game.newGame()">New game!</button>

</body>
</html>