.field {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large ;
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}